@charset "utf-8";
body{
   font-family: 'Noto Sans KR', sans-serif !important;
   font-weight: 400!important;
   font-size: 15px;
}

table a{
   color:inherit!important;
}

.toprow{
   background-color:#eee;
   white-space:nowrap;
}
.toprow,.navbar .navbar-nav li a,.navbar-header .navbar-brand{
   #color:#fff;
   font-weight: 500!important;
}

.w-12{
   width:12.5%!important;
}
.nav-link{

}
.dropdown-menu,.navbar-default{
   #background-color:#79a3d5;
   #background-image: linear-gradient(to bottom, #323a81 0px, #79a3d5 100%);
   background-repeat: repeat-x;
   border-radius: 4px;
   box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);
}
.http_judge_form{
   white-space:nowrap;
}
.center{
   text-align: center
}
.mynav {
   margin-top: 20px
}

h3.pagenav {
   margin-top: 5px;
   margin-bottom: 20px;
}

h3.pagenav div.item{
   padding: 4px;
   margin: 3px;
   font-size: 16px;
   border: 1px solid #eee;
   border-radius: 3px;
   display: inline-block;
   width: 30px;
}

h3.pagenav div.item:hover{
   background-color: #ddd;
   cursor: pointer;
}

h3.pagenav div.active{
   color: #888;
}

#broadcast {
   height: 90px;
}

#problemset {
   margin-top: 20px;
}
.hint pre{
  display:none;
}
.red{
  color:red;
}
.green{
  color:green;
}
.blue{
  color:blue;
}

.ace-editor-form{
   min-height: 30em;
}

.top-btn{
   position: fixed;
   right: 2em;
   bottom: 2em;
   width: 3em;
   height: 3em;
   border: 1px;
   cursor: pointer;
   display: none;
   z-index: 1000;
   box-shadow: #0a0c0d;
}

.news-right{
   position: absolute;
   right: 0px;
   top:10px;
   font-size: 12px;

}

.marq_msg{
   display: none;
   position: absolute;
   top:60px;
   left: 0px;
   width:30px;
   height: 30px;
   border: 1px solid #e2e2e2;
}

.float{
   position: fixed;
   top:0px;
   left: 0px;
   width: inherit;
   margin: 0;
   padding: 0;
   z-index: 1000;
   background-color: #FFF;
   text-align: center;
   transition: 0.5s;
  }